<!--heredamos de base.html y definimos los bloques que queramos-->
{% extends "aula/base.html" %}
<!--heredamos el bloque title-->
{% block title %}
 <!--establecemos el titulo en el bloque title-->
Editar noticia
{% endblock %}
{% block css %}
 <!--establecemos el titulo en el bloque title-->
{% load static %}
    <link rel="stylesheet" type="text/css" href="{% static '/noticias/css/noticias.css' %}">
{% endblock %}

{% block content %}
<br><br>
<div class="row justify-content-center" style="color: black;">
    <form action="" method="POST" enctype="multipart/form-data">
    {% csrf_token %}

    {{ form.as_p }} 
    <div class="text-center">
        <input type="submit" class="btn btn-primary btn-block" value="Actualizar" />
    </div>
</form>
</div>
<br><br>
{% endblock %}
