<!--heredamos de base.html y definimos los bloques que queramos-->
{% extends "aula/base.html" %}
<!--heredamos el bloque title-->
{% block title %}
 <!--establecemos el titulo en el bloque title-->
Index
{% endblock %}
{% block css %}
 <!--establecemos el titulo en el bloque title-->
{% load static %}
    <link rel="stylesheet" type="text/css" href="{% static '/noticias/css/noticias.css' %}">
{% endblock %}

{% block content %}
{% load bootstrap_pagination %}
{% load auth_extras %}
<div class="row text-center">
    <h1 class="jumbotrom titulo">Sección noticias</h1> 
</div>
{% if request.user|has_group:'Noticias' %}
<div class="row">
    <div class="col-md-2 offset-md-10">
        <a href="{% url 'noticias:add_noticia' %}" class="btn btn-primary"> Añadir noticia</a>
    </div>
</div>
<br>
{% endif %}
{% for n in noticias %}
    <div class="row justify-content-center">
        <div class="col-10 mt-3">
            <div class="card">
                <div class="card-horizontal">
                    <div class="img-square-wrapper">
                        <img class="" src="{{ n.imagen.url }}" alt="Card image cap" width="300">
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">{{ n.titulo }}</h4>
                        <p class="card-text">{{ n.contenido|safe}}</p>
                    </div>
                </div>
                <div class="card-footer">
                    <small class="text-muted">Publicado: {{ n.created }}</small>
                    {% if request.user|has_group:'Noticias' %}
                        <div class="float-right">
                            <a href="{% url 'noticias:edit_noticia' n.id %}">Editar</a>
                            <a href="{% url 'noticias:deleteNoticia' n.id %}">Borrar</a>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endfor %}
<br><br>
<div class="row">
    {% if not user.is_authenticated %}
        <div class="col-md-5 offset-md-5">
            <a href="{% url 'login' %}">Inicia sesión para acceder al aula</a>
        </div>
        <div class="col-md-2">
            {% bootstrap_paginate noticias %}
        </div>
     {% else %}
        <div class="col-md-2 offset-md-10">
            {% bootstrap_paginate noticias %}
        </div>
    {% endif %}
   
</div>
<br><br>

{% endblock %}
