
.titulo{
    margin-bottom: 3%;
    color: white;
    padding: 3%;
    background-color: #b3b6b7;
    width: 100%;
}
body{
    color: white;
    background-color: #b3b6b7;
}
.card-horizontal {
    display: flex;
    flex: 1 1 auto;
}
.card-body{
    color: black;
}
img{
    max-width: 300px;
}
.pie{
    width: 100%;
    background-color: #b3b6b7;
    color: white;
    padding: 1%;
}
.borrar{
    padding-top: 10%;
    padding-bottom: 20%;
}