
.titulo{
    margin-top: 5%;
    margin-bottom: 5%;
    color: white;
}
body{
    color: white;
    background-color: #b3b6b7;
}
.card-horizontal {
    display: flex;
    flex: 1 1 auto;
}
.card-body{
    color: black;
}
img{
    max-width: 300px;
}