{% extends "aula/base.html" %}
{% block title %}
{{ asignatura.nombre }}
{% endblock %}
{% block css %}
{% load static %}
    <link rel="stylesheet" type="text/css" href="{% static '/aula/css/aula.css' %}">
{% endblock %}

{% block content %}
{% load crispy_forms_tags %}
{% load index %}
{% load auth_extras %}
{% load checkFileEvento %}
<div class="row titulo">
    <h1>{{ asignatura.nombre }}</h1>
</div>

<div class="row">
    <div class="col-md-4">
        <ul>
        {% if secciones %}
            {% for s in secciones %}
                <div class="row material">
                    <div class="col-md-10">
                        <p><strong>{{ s.titulo }}</strong></p>
                    </div>
                    <div class="col-md-2">
                        {% comment %} {% if perfil.tipo in 'PRO' %}  {% endcomment %}
                        {% if request.user|has_group:'Profesor' %}
                        <div class="">
                            <button class="btn btn-secondary btn-xs bottonPost eliminarMaterial" data-toggle="modal" data-target="#material_{{ s.id }}"> + Material</button>
                            <a href="{% url 'borrarMaterial' s.id %}" class="btn btn-danger btn-xs bottonBorrarN eliminarMaterial" onclick="return confirm('Estas seguro que quieres eliminar esta sección?')"><i class="fas fa-trash-alt"></i></a>
                        </div>
                        {% endif %}
                        {% comment %} Modal Material {% endcomment %}
                        <div class="modal fade" id="material_{{ s.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Añadir Material</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <form action="{% url 'anyadirMaterial' s.id %}" method='POST' id="addMAterial_{{ s.id }}" enctype="multipart/form-data">
                                    {% csrf_token %}
                                    {{ formaterial|crispy }}
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                                    <button type="submit" class="btn btn-primary" form="addMAterial_{{ s.id }}">Añadir</button>
                                </div>
                                </div>
                            </div>
                            </div>
                    </div>
                </div>
                {% for f in s.file_seccion_set.all %}
                    {% if f.formato == 'pdf' %}
                        <div class="material">
                            <img src="{% static 'imagenes/pdf.png' %}" width="50">
                            <a href="{{ f.file.url }}">{{ f.filename }}</a>
                            <p>{{ f.descripcion }}</p>
                            {% if request.user|has_group:'Profesor' %}
                                <a href="{% url 'editarMaterial' s.id %}" class="eliminarMaterial" data-toggle="modal" data-target="#editMaterial_{{ f.id }}">Editar</a>
                                <a href="{% url 'borrarMaterial' s.id %}" class="eliminarMaterial" onclick="return confirm('Estas seguro que quieres eliminar este material?')">Eliminar material</a>
                            {% endif %}
                        </div>
                    {% endif %}
                    {% if f.formato == 'rar' %}
                        <div class="material">
                            <img src="{% static 'imagenes/rar.png' %}" width="40">
                            <a href="{{ f.file.url }}">{{ f.filename }}</a>
                            <p>{{ f.descripcion }}</p>
                            {% if request.user|has_group:'Profesor' %}
                                <a href="{% url 'editarMaterial' s.id %}" class="eliminarMaterial" data-toggle="modal" data-target="#editMaterial_{{ f.id }}">Editar</a>
                                <a href="{% url 'borrarMaterial' s.id %}" class="eliminarMaterial" onclick="return confirm('Estas seguro que quieres eliminar este material?')">Eliminar material</a>
                            {% endif %}
                        </div>
                    {% endif %}
                    <!-- Modal Seccion -->
                    <div class="modal fade" id="editMaterial_{{ f.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Editar Sección</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                        <form action="{% url 'editarMaterial' asignatura.id %}" method='POST' id="editSeccion">
                            {% csrf_token %}
                            {{ materialForm|crispy }}
                        </div>
                        </form>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal" form="formSeccion">Cerrar</button>
                            <button type="submit" class="btn btn-primary" form="editSeccion">Actualizar</button>
                        </div>
                        </div>
                    </div>
                    </div>
                {% endfor %}
                <hr>
            {% endfor %}
        {% else %}
            <p>No hay secciones</p>
        {% endif %}
        </ul>
  {% if request.user|has_group:'Profesor' %}
    <!-- Button trigger modal -->
    
    <button type="button" class="btn btn-outline-secondary btn-sm offset-md-1" data-toggle="modal" data-target="#exampleModal">
      Añadir Sección
    </button>
  {% endif %}
    </div>

    <div class="col-md-3">
    {% if request.user|has_group:'Profesor' %}
        <a href="" class="btn btn-outline-secondary btn-sm offset-md-4" data-toggle="modal" data-target="#newevento">Añadir Evento</a><br>
    {% endif %} 
        {% for e in eventos %}
            <div class="card">
                <div class="card-header text-center">
                    Evento: {{ e.fecha_inicio|date:'d-m-Y H:i' }}
                </div>
                <div class="card-body text-center">
                    <strong>{{ e.descripcion }}</strong>
                    <div id="retroclockbox_counter" class="retroclockbox_counter"><p id="demo{{ e.id }}"></p></div>
                        {% if request.user|checkFileEvento:e.id %}
                            <P class="alert-success">ENTREGADO</P>
                        {% else %}
                            {% if request.user|has_group:'Profesor' %}
                                <a href="{% url 'listadoEntrega' asignatura.slug e.id %}" class="btn btn-outline-secondary bottonPost">Listado</a>
                                <a href="{% url 'borrarEvento' e.id %}" class="btn btn-danger btn-xs bottonBorrarN" onclick="return confirm('Estas seguro que quieres eliminar este Evento?')"><i class="fas fa-trash-alt"></i></a>
                            {% else %}
                                {% if e.fecha_inicio|date:'Y/m/d' < fechaActual|date:'Y/m/d' %}
                                    <p class="alert-danger">Sin entregar</p>
                                {% else %}
                                    <form action="{% url 'entregaEvento' e.id %}" method='POST' enctype="multipart/form-data">
                                        {% csrf_token %}
                                            {{ eventoForm|crispy }}
                                            <button type="submit" class="btn btn-secondary btn-xs bottonPost">Entregar</button>
                                    </form>
                                {% endif%}
                            {% endif %}
                        {% endif %}
                </div>
            </div>
            
        {% empty %}
            <div class="card">
                <div class="card-header">
                    Sin eventos
                </div><br>
                <div class="card-body text-center">
                </div>
            </div>
        {% endfor %}
    </div>
    {% comment %} modal crear evento {% endcomment %}
    <div class="modal fade" id="newevento" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Añadir Evento</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                               <form action="{% url 'addEvento' asignatura.slug %}" method='POST' id="addEvento">
                                    {% csrf_token %}
                                    <div class="form-group row">
                                        <label for="producto" class="col-md-4 col-form-label text-md-right">Descripción</label>
                                    
                                        <div class="col-md-6">
                                            <input id="producto" type="text" class="form-control" name="descripcion" required >
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="producto" class="col-md-4 col-form-label text-md-right">Fecha</label>
                                    
                                        <div class="col-md-6">
                                            <input id="producto" type="date" class="form-control" name="fecha" required >
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="producto" class="col-md-4 col-form-label text-md-right">Hora</label>
                                    
                                        <div class="col-md-6">
                                            <input id="producto" type="time" class="form-control" name="hora" required >
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal" form="formSeccion">Cerrar</button>
                                <button type="submit" class="btn btn-primary" form="addEvento">Añadir</button>
                            </div>
                            </div>
                        </div>
                        </div> 

    <div class="col-md-5">
        {% include 'foro/foro.html' %}
    </div>

    
<!-- Modal Seccion -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Añadir Sección</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form action="{% url 'nuevaSeccion' asignatura.id %}" method='POST' id="formSeccion">
              {% csrf_token %}
              {{ nuevaSeccion|crispy }}
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal" form="formSeccion">Cerrar</button>
            <button type="submit" class="btn btn-primary" form="formSeccion">Añadir</button>
          </div>
        </div>
      </div>
    </div>  

{% endblock %}
{% block script %}
<script>
    var fechaEvento = '{{ eventos.0.fecha_inicio|date:"Y/m/d" }}'
    var fechaActual = '{{ fechaActual|date:"Y/m/d" }}'
    console.log(fechaEvento)
    console.log(fechaActual)
</script>
<script>
function countDown(i,ano,mes,dia,hora,min){
        var countDownDate = new Date("May 5, 2019 12:00:00").getTime();
        mes=mes-1;
        var countDownDate = new Date(ano,mes,dia,hora,min,00).getTime();

        // Update the count down every 1 second
        var x = setInterval(function() {

        // Get todays date and time
        var now = new Date().getTime();

        // Find the distance between now an the count down date
        var distance = countDownDate - now;

        // Time calculations for days, hours, minutes and seconds
        var days = Math.floor(distance / (1000 * 60 * 60 * 24));
        var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
        var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
        var seconds = Math.floor((distance % (1000 * 60)) / 1000);
        // Display the result in the element with id="demo"
        id='demo'+i;
        id=id.replace(/ /g, "");
        console.log(id);
        document.getElementById(id).innerHTML = days + "d " + hours + "h "
        + minutes + "m " + seconds + "s ";
        

        // If the count down is finished, write some text 
        if (distance < 0) {
            clearInterval(x);
            document.getElementById(id).innerHTML = "Finalizado";
        }
        }, 1000);
}

$( document ).ready(function() {
var evento = '{{ json_eventos|safe|escapejs }}';
console.log(evento);
var primerDato = Array();
datos = evento.split('{');
for(var i=1; i<=datos.length;i++){
    dato0 = datos[i].split('(');

    dato01 = dato0[1].split(',');
    dato011 = dato0[0].split(':');
    dato011 = dato011[1].split(',');
    dato011 = dato011[0];
    primerDato[0] = dato011;
    primerDato[1] = dato01[0];
    primerDato[2] = dato01[1];
    primerDato[3] = dato01[2];
    primerDato[4] = dato01[3];
    primerDato[5] = dato01[4];
    countDown(primerDato[0],primerDato[1],primerDato[2],primerDato[3],primerDato[4],primerDato[5]);

    }
});


</script>

{% endblock %}