<!--heredamos de base.html y definimos los bloques que queramos-->
{% extends "aula/base.html" %}
<!--heredamos el bloque title-->
{% block title %}
 <!--establecemos el titulo en el bloque title-->
Index
{% endblock %}
{% block css %}
 <!--establecemos el titulo en el bloque title-->
{% load static %}
    <link rel="stylesheet" type="text/css" href="{% static '/aula/css/aula.css' %}">
{% endblock %}

{% block content %}
 <h1 class="prueba">index</h1>
{% endblock %}
 <!--finaliza el bloque content-->
<!--heredamos el bloque footer-->
{% block footer %}

{% endblock %}
<!--finaliza el bloque footer-->