<!--heredamos de base.html y definimos los bloques que queramos-->
{% extends "aula/base.html" %}
<!--heredamos el bloque title-->
{% block title %}
Register
{% endblock %}
{% block css %}
{% load static %}

{% endblock %}

{% block content %}
<div class="container">
<br><br>

<div class="card bg-light">
<article class="card-body mx-auto" style="max-width: 400px;">
	<h4 class="card-title mt-3 text-center">Crear cuenta</h4>
	<form action="{% url 'signup' %}" method="POST">
        {% csrf_token %}
	<div class="form-group input-group">
		<div class="input-group-prepend">
		    <span class="input-group-text"> <i class="fa fa-user"></i> </span>
		 </div>
        {{ form.username }}
    </div> <!-- form-group// -->
    {{ form.username.errors }} 
    <div class="form-group input-group">
    	<div class="input-group-prepend">
		    <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
		 </div>
        {{ form.email }}
    </div> <!-- form-group// -->
    {{ form.email.errors }} 
    <div class="form-group input-group">
    	<div class="input-group-prepend">
		    <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
		</div>
        {{ form.password1 }}
    </div> <!-- form-group// -->
    {{ form.password1.errors }} 
    <div class="form-group input-group">
    	<div class="input-group-prepend">
		    <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
		</div>
        {{ form.password2 }}
    </div> <!-- form-group// --> 
    {{ form.password2.errors }}                                     
    <div class="form-group">
        <button type="submit" class="btn btn-primary btn-block"> Crear Cuenta  </button>
    </div> <!-- form-group// -->      
    <p class="text-center">Have an account? <a href="{% url 'login' %}">Log In</a> </p>                                                                 
</form>
</article>
</div> <!-- card.// -->

</div> 
{% endblock %}
 <!--finaliza el bloque content-->
<!--heredamos el bloque footer-->
{% block footer %}

{% endblock %}
<!--finaliza el bloque footer-->