.bottonPost{
    font-size: 8px;
}
.bottonBorrar{
    font-size: 10px;
    color: white;
    visibility: hidden;
    padding: 5px;
    padding-left: 7px;
    padding-right: 7px;
    background-color: #ec576b;
}
.media-body:hover .bottonBorrar{
    visibility: visible;
}
.bottonBorrarN{
    font-size: 10px;
    color: white;
}